{
	"semi": false,
	"singleQuote": false,
	"tabWidth": 2,
	"useTabs": true,
	"jsxSingleQuote": false,
	"trailingComma": "none",
	"printWidth": 130,
	"arrowParens": "always",
	"endOfLine": "auto",
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		}
	]
}
